@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

 *  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;    
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;

}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header { 
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: whitesmoke;
    padding: 70px  0;
}

.menu {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position:relative;
    float: left;

}

.menu .navbar ul li a {
    display: block;
    padding: 20px;
    color: black;
    font-size:18px;
    }
#menu {
display: none;
}

.menu-icono {
    width: 25px;
}

.menu-label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;

}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color:#4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}
th, td {
    color: white;
}

.borrar    {
    background-color: black;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    cursor: pointer;
    }

.header-content {
    flex: 1;
    padding: 0 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.ofert {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.5% - 15px);
    background-color: whitesmoke;
    padding: 35px;
}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img {
    width: 250px;
}

.ofert-txt {
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3 {
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

.btn-2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.product {
    padding: 50px 0;
    text-align: center;
}

.product h2 {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
/* te quiero pomelita */
.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 50px;
}

.product{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.product p, .precio {
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}
 
.icon-txt h3 {
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.icon-txt p {
    font-size: 16px;
    color: black;
}

.blog {
    padding-bottom: 100px;  
    justify-content: space-between;
    display: flex;
}

.blog-1 {
    flex-basis: calc(33.3% - 30px);

}

.blog-1 img {
    margin-bottom: 20px;
}

.blog-1 h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.blog-1 p {
    font-size: 16px;
    color: black;
}

.footer {
    background-color: black;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.link a {
    display: block;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

@media (max-width: 991px) {

    .menu {
        padding: 20px;
    }
  
    .menu-label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        
        color: white;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;

    }
    .header {
        min-height: 0vh;
    }

    .header-content {
        flex-direction: column;
        padding: 50px 0;
    }

    .header-img {
        display: none;
    }

    .header-txt { 
        flex-basis: 100%;
        text-align: center;
    }
    
    .header-txt h1 {
        font-size: 70px;
    }

    .ofert {
    padding: 30px 30px 0 30px;
    flex-direction: column;

    }

    .ofert-1 {
        margin-bottom: 30px;
}

.products {
    padding: 0px 30px 30px 30px;
}

.product-content {
    grid-template-columns: repeat(1, 1fr);
    gap : 30px;
}

.product img {
    width: 200px;
    height: 280px;
}
.icons {
    flex-direction: column;
    padding: 30px;
}

.icon-1 {
    margin-bottom: 30px;
}

.blog {
    flex-direction: column;
    padding: 0 30px 30px 30px;
}

.blog-1 {
    margin-bottom: 30px;
}

.footer{
    padding: 30px;
}
.footer-content {
    flex-direction: column;
    text-align: center;
}

}